@model SC.UI.MVC.Models.CreateTicketViewModel

@{
    ViewBag.Title = "Ticket aanmaken";
}

<h2>Ticket aanmaken</h2>

<form asp-controller="Ticket" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Problem">Probleem</label>
        <input asp-for="Problem" class="form-control"/>
        
    </div>
    <input type="submit" value="Verzenden"/> | <a asp-action="Index">Annuleer</a>
</form>
