@model SC.BL.Domain.Ticket

@{
    ViewBag.Title = "Ticket verwijderen";
}

<h2>Ticket verwijderen</h2>
<p>Ben je zeker dat je onderstaand ticket (ID: @Model.TicketNumber) wenst te verwijderen? </p>

@*<dl>
    <dt>Account</dt><dd>@Model.AccountId</dd>
    <dt>Probleem</dt><dd>@Model.Text</dd>
    <dt>Aangemaakt op</dt><dd>@Model.DateOpened</dd>
    <dt>Status</dt><dd>@Model.State</dd>
</dl>*@
<partial name="_TicketDetailsPartial" for="@Model"/>

<form asp-controller="Ticket" asp-action="DeleteConfirmed" asp-route-id="@Model.TicketNumber"  method="post">
    <input type="submit" value="Verwijderen"/> | <a asp-action="Index">Annuleer</a>
</form>

