﻿@using Microsoft.AspNetCore.Identity
@using SC.BL.Domain
@inject SignInManager<User> SignInManager;

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>SupportCenter</h1>
    <p>Welkom op het online helpdesk systeem.</p>
</div>

<div class="row">
    <div class="col col-md-4">
        <h2>Nieuw ticket</h2>
        <p>Maak een nieuw ticket aan in het systeem.</p>
        <a class="btn btn-light" asp-controller="Ticket" asp-action="Create">Nieuw ticket</a>
    </div>
    <div class="col col-md-4">
        <h2>Alle tickets</h2>
        <p>Toont een lijst van alle bestaande tickets.</p>
        <a class="btn btn-light" asp-controller="Ticket" asp-action="Index">Alle tickets</a>
    </div>
    <div class="col col-md-4">
        <h2>Toon ticket</h2>
        <p>Geeft de details van één ticket.</p>
        <form asp-controller="Ticket" asp-action="Details" method="get" class="form-inline">
            <input name="id" type="number" placeholder="Ticketnummer" class="form-control"/>
            <input type="submit" value="Toon ticket" class="btn btn-light"/>
        </form>
    </div>
</div>
<br/>
<br/>
<div>
    <div class="row">
        <div class="col col-md-8">
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("Admin"))
                {
                    <h2 class="text-danger">je bent een admin</h2>
                }
                else
                {
                    <h2 class="text-danger">je bent een gebruiker</h2>
                }
            }
            else
            {
                <h2 class="text-danger">je bent niet ingelogd</h2>
            }
        </div>
    </div>
</div>