﻿@model IEnumerable<SC.BL.Domain.User>

@{
    ViewBag.Title = "List of Users";
}
<table class="table">
    @if (Model.Any())
    {
        <tr>
            <th>User Id:</th>
            <th>Gebruiker</th>
            <th></th>
        </tr>
        foreach (var user in Model)
        {
            if (@User.Identity.Name != user.UserName)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>
                        <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    }
    else
    {
        <div>
            <p>er is geen gebruiker aangemaakt</p>
        </div>
    }
</table>